<style>
    .dashboard-content{
        height: 470px;
    }
</style>
<!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <div class="dashboard-content">
        <h1 style="color:rgb(212, 120, 34); margin-top:50px">Welcome to mELearning Admin page!</h1>
        <div class="logo-wrap">
            <img style="max-width:1000px" src="img/logo-melearning.png" alt="lo-go">
        </div>
    </div>
    