<div id="sidebar" class="list-group">
    <p class="list-group-item" style="font-size: 15px; font-weight:500; background-color:#8af9f4">Danh sách bảng</p>
    {{#each tableList }}
      <a href="#" class="list-group-item list-group-item-action ">{{TenBang}}</a>
    {{/each}}
</div>