<!-- Top Bar -->
		<div class="top_bar">
			<div class="top_bar_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
								<ul class="top_bar_contact_list">
									<li><div class="question">FINAL PROJECT WEB</div></li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<div>0581231231</div>
									</li>
									<li>
										<i class="fa fa-envelope-o" aria-hidden="true"></i>
										<div>duyquang19981@gmail.com</div>
									</li>
								</ul>
								<div class="top_bar_login ml-auto">
									{{#if isAuthentication}}
											<div style="color: white; margin-top:10px">Xin chào, <a href="user/profile" class="question"><u>{{user.Ten}} </u></a></div>
											<form id="logoutFrm" method="POST" action="/logout">
													<input type="submit" class="btn btn-dark" value="Logout">
											</form>
										
									{{else}}
										<div class="login_button"><a href="/login">Register or Login</a></div>
									{{/if}}
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>				
		</div>