.img-course{
  max-width: 280px;
  min-width: 280px;
  max-height: 230px;
  min-height: 230px;
}
.card-course{
  margin-top: 10px;
margin-bottom: 15px;
  max-width: 280px;
  min-width: 280px;
  max-height: 450px;
  min-height: 450px;

}
a:link{
  text-decoration: none!important;
}
.form-title{
  font-size: 19px;
  font-weight: 500;
  
}