
{{!-- fixx color selection --}}
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <script src="./js/function.js"></script>
<div class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Đăng kí trở thành học viên của chúng tôi!</h1>
                            </div>
                            {{#if msg}}
                              <div class="text-left username-noti" style=" color:rgb(247, 30, 41)">
                                {{msg}}
                              </div>
                            {{/if}}
                            <div class="text-left username-noti" style="visibility: hidden; color:rgb(247, 30, 41)">
                              Tên tài khoản đã tồn tài hoặc không hợp lệ.
                            </div>
                            <form name="regisForm" method="POST" onsubmit="validateRegister(); return false;" action="/register" class="user">
                                <div class="form-group ">
                                  
                                        <input name = "ten" type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Name">

                                </div>
                                <div class="form-group">
                                    <input name = "mail" type="email"  class="form-control form-control-user"  id="exampleInputEmail"
                                        placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                    <input  id="username" name = "username" type="text" required maxlength="16" pattern="^[a-z_-][a-z0-9_-]{5,17}$" title="Username độ dài 6-16 kí tự, được bao gồm _-, không có kí tự đặc biệt, bắt đầu bằng chữ." class="form-control form-control-user"
                                        placeholder="Username">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <input  name = "password" type="password" required maxlength="16" minlength="6" title="Password độ dài 6-16 kí tự." class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">
                                    </div>
                                   
                                </div>
                                    <div class="form-group">
                                        <div class="g-recaptcha" data-sitekey="6Ld4OSkaAAAAABIpETnPqXff9kketkDAmSUnCKDk"></div>
                                    </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Đăng kí 
                                </button>
                                <hr>
                               
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/">Về trang chủ</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/login">Bạn đã có tài khoản? Đăng nhập!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</div>

